<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Taskmaster</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <!-- <mat-sidenav #snav mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"> -->
      <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'link-active'" href="/tasks/myday">My Day</a>
        <!-- <a mat-list-item [routerLinkActive]="'link-active'" href="/tasks/upcoming">Upcoming</a> -->
        <a mat-list-item [routerLinkActive]="'link-active'" href="/tasks/completed">Completed</a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLinkActive]="'link-active'" href="/tasks/bucket/{{nav.id}}" *ngFor="let nav of taskBuckets">{{nav.title}}</a>
        <div class="bucket-input-container" fxLayout="row" fxLayoutAlign="space-around center">
          <input matInput type="text" placeholder="New Bucket" #bucketName>
          <button mat-icon-button (click)="createNewBucket(bucketName.value)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
