<div class="task-list-item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" (mouseenter)="mouseEntered=true" (mouseleave)="mouseEntered=false">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="task-title-container">
    <button mat-icon-button aria-label="Mark as Done" (click)="markAsDone()">
      <mat-icon color="primary">radio_button_unchecked</mat-icon>
    </button>
    {{taskItem.title}}
  </div>
  <button *ngIf="mouseEntered" mat-icon-button color="warn" fxFlexAlign="end" (click)="deleteTask()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
